<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <h1>Email Template</h1>
    <p>Data received: {{data}}</p>
    <p>This is an email template powered by Handlebars</p>
    <p>Thank you, Anas Obaid</p>
  </body>
</html>